
@{
    ViewBag.Title = "Đơn đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/IED/Order/order-index.css" rel="stylesheet" />
<div id="jtable-order" class="table-center"></div>

<div class="modal fade " id="popup-order" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-100  ">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" order-cancel class="close" type="button">×</button>
                <h4 class="modal-title">Thông tin đơn hàng</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="container-fluid">
                    <div class="form-group col-md-12">
                        <div class="form-group col-md-9" style="padding-left:10px">
                            <div class="order-box-po-select" style=" margin-bottom:5px; display:flex">
                                <select class="form-control" id="order-po-select" ></select>
                                <button type="button" btn-order-get-po-info class="btn btn-primary"><i class="fa fa-cloud-download"></i> Lấy thông tin từ phiếu báo giá </button>
                                <button type="button" btn-order-reset-po-info class="btn btn-danger"><i class="fa fa-ban"></i> Hủy bỏ </button>
                            </div>

                            <div id="jtable-detail-order"></div>
                            <div class="total-box">Tổng tiền: <span id="total-order" class="red bold" style="padding-left:5px"></span>  <select class="form-control" id="order-unit"></select><input class="form-control" id="order-exchange" type="text" onkeypress="return isNumberKey(event)" /></div>
                            <div class="form-group col-md-12" style="padding:0">
                                <label class="control-label">Ghi chú</label><br />
                                <textarea id="order-note" class="form-control"></textarea>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group col-md-3 box-info" style="padding:0">
                            <div class="form-group col-md-12">
                                <input class="form-control" id="order-id" type="hidden" />
                                <label class="control-label">Mã đơn hàng </label>
                                <input class="form-control" id="order-code" disabled type="text" />
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Khách hàng <span style="color:red"> *</span></label><br />
                                <div class="select-box">
                                    <select class="form-control" id="order-customer"></select>
                                    <i re_customer class="fa fa-refresh clickable red"></i>
                                    <a href="/khach-hang" target="_blank"><i class="fa fa-plus-circle clickable blue"></i></a>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Người liên hệ <span style="color:red"> *</span></label><br />
                                <input class="form-control" id="order-contact-name" type="text" />
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Số điện thoại <span style="color:red"> *</span></label><br />
                                <input class="form-control" id="order-phone" type="text" />
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Email</label><br />
                                <input class="form-control" id="order-email" type="text" />
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Ngày giao hàng</label><br />
                                <div>
                                    <input type="text" class="form-control center" id="order-delivery-date-text" disabled style="border-right:none; width:100px; position:absolute" />
                                    <input type="date" class="form-control center" id="order-delivery-date" style="width:140px" />
                                </div>
                            </div>
                            <div class="form-group col-md-12" style="padding:0">
                                <label class="control-label">Địa chỉ giao hàng <span style="color:red"> *</span></label><br />
                                <textarea id="order-address" class="form-control"></textarea>
                            </div>
                            @*<div class="form-group col-md-12">
                                    <label class="control-label">Trạng thái</label><br />
                                    <select class="form-control" id="order-status"></select>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" order-save class="btn btn-primary"><i class="fa fa-floppy-o"></i> Lưu nháp </button>
                <button type="button" order-submit class="btn btn-success"><i class="fa fa-floppy-o"></i> Lưu & gửi duyệt </button>
                <button type="button" order-approve class="btn btn-danger"><i class="fa fa-floppy-o"></i> Duyệt phiếu </button>
                <button type="button" order-cancel class="btn btn-default" data-dismiss="modal"><i class="fa fa-times red"></i> Đóng </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade " id="order-view-popup" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-100">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" order-close data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Thông tin đơn hàng</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="container-fluid">
                    <div class="form-group col-md-12">
                        <div id="order-file-content-area"> </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button order-close aria-hidden="true" data-dismiss="modal" class="btn btn-default">
                    <div class="button-image image-close"></div>
                    Đóng
                </button>
                <button order-export class="btn btn-primary">
                    <i class="fa fa-file-word-o"></i>
                    Xuất file word
                </button>
            </div>
        </div>
    </div>
</div>
<form>
    <div id="order-word-content" style="width:100%; display:none"></div>
</form>
<datalist id="products-order"></datalist>
<script src="~/Scripts/IED/Order/order-index.js"></script>